.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #666;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
  }

  .cell.visible {
    background-color: white;
  }

  .cell.visible.one {
    color: blue;
  }

  .cell.visible.two {
    color: green;
  }
  
  .cell.visible.three {
    color: red;
  }

  .cell.visible.four {
    color: darkblue;
  }

  .cell.visible.five {
    color: darkred;
  }

  .cell.visible.six {
    color: darkcyan;
  }

  .cell.visible.seven {
    color: black;
  }
  
  .cell.visible.eight {
    color: gray;
  } 
  /*
  .cell:hover {
    background-color: blueviolet;
  }
  
  .cell:active {
    background-color: #bbb;
  }
  */