.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #666;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell.visible {
    background-color: white;
  }

  .cell.visible.one {
    color: blue;
  }
  
  /*
  .cell:hover {
    background-color: blueviolet;
  }
  
  .cell:active {
    background-color: #bbb;
  }
  */