/*
* {
    background-color: black;
}
*/

.header-container {
    position: relative;
    width: 1200px;
    height: 80px;
    /*TODO maybe set background color to black when done */
    /*background-color: black; */
    background-color: gray;
}

.flags-container {
    position: absolute;
    top: 50%;
    left: 60px;
    width: 60px;
    height: 40px;
    background-color: black; /* Color for the smaller box */
    transform: translate(-50%, -50%);
}

.flags-container span {
    color: red;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.status-container {
    position: absolute;
    top: 50%;
    left: 600px;
    width: 60px;
    height: 40px;
    background-color: green;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.timer-container {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 60px;
    height: 40px;
    background-color: black;
    transform: translate(-50%, -50%);
}

.timer-container span {
    color: red;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.status-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
  
  .image-button img {
    width: 50px;
    height: auto;
    display: block;
  }

